table {
    width: 100%;
}

#searchfield {
  margin-bottom: 10px;
  margin-top: 15px;
  padding-right: 5%
}

.pressable-day {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.pressable-day.active {
  background-color: forestgreen;
  color: white;
  border-radius: 50px;
}

.schedule-color {
  color: forestgreen;
}

.row-border {
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: rgba(192, 192, 192, 1.0)
}

h4 {
  line-height: 2em;
  color: black;
  text-decoration: underline;
}

.booking.glyphicon-ok {
  font-size: 2em;
  color: forestgreen;
  opacity: 0.1;
}

.booking.glyphicon-ok.active {
  opacity: 1;
}
